@use '../../Scss-Sass/Helpers' as *;

.button {
    @include fluid-text(calculate(18, ), calculate(13));
    text-align: center;
    color: var(--color-light);
    padding: rem(16) rem(40);
    background-color: var(--color-dark);
    border-radius: rem(calculate(12));
}