@font-face {
    font-family: 'Averta';
    src: url(../../Fonts/Montserrat-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Averta';
    src: url(../../Fonts/Montserrat-Medium.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Averta';
    src: url(../../Fonts/Montserrat-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}